html {
  height: 100%;
  width: 100%;
}

body {
  background-color: blue;
  position: relative;
  height: 100%;
}

.centerMe {
  position: absolute;
  border: 1px solid black;
  text-align: center;
  width: 100%;
  top: 50%;
  tranform: translate(-50%, 0%);
}